.container{
    display:flex;
    flex-direction: row;
    margin:50px 150px;
    
}
.image{
    height: 100vh;
    width:40%;
    background: url(../images/mypicture.jpg);
    background-size: 600px auto;
    height: 100vh;
    width: 600px;
    display: inline-block;   
    background-position: center center;
}
.content{
    height:100vh;
    width:60%;
    background-color:white;
    text-align:center;
}
body{
    margin:30px 20px;
    background-color:#dddddd; 
}
header{
    padding:50px;
}
nav{
    display: inline-block;
    text-align: center;
}
ul{
    display: inline-block;
    list-style: none;
    text-align: center;
    position: relative;
    margin:20px;
    padding:20px;
}
a{
    text-decoration: none;
    display: inline-block;
    font-size: 26px;
    font-weight: 500;
    position: relative;
    text-align: center; 
    color: #555555;
}

li{
    width:50px;
    height:100px;
}

.icons{ 
    display:flex;
    flex-direction: row;
    justify-content:center;
}

footer{
    width:100%;
    text-align:center;
}
.button{
    left:-60px;
    border:1px solid;
    border-radius: 10px;
    padding:2px 50px;
}


